Source: swim
Section: admin 
Priority: optional
Maintainer: Jonathan D. Rosenbaum <mttrader@access.mountain.net>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: swim
Architecture: all
Depends: perl5, dpkg, apt (>=0.3.2)
Suggests: gcc
Recommends: libnet-perl, libterm-readline-gnu-perl | libterm-readline-perl-perl
Description: Debian System Wide Information Manager
 SWIM is a powerful package information and distribution research tool
 for both an installed Debian distribution or not-installed virtual
 Debian distribution(s) allowing querying of software packages with a
 variety of package information options, and powerful searches. Virtual
 options which include ftp, installation, and package removal capabilities
 can be seamlessly combined with querying or searches. SWIM can be used on
 computer systems which either have, or do not have a Debian distribution
 installed.
 .
 Presently, the virtual options are not working with the new Debian archive
 hierarchy, so help information doesn't reflect them anymore.  In the near 
 future, all -n options will be handled directly through apt-cache 
 information and apt cache management rather than through huge databases.
 The virtual filesystem will still be managed by a database, and 
 Contents.gz listings will also be reinstated.
 .	
 The latest and greatest swim can be retrieved from here: 
 .	
 deb http://prdownloads.sourceforge.net/avd ./
