Source: dswim
Section: admin 
Priority: optional
Maintainer: Jonathan Rosenbaum <freesource@users.sourceforge.net>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: dswim
Architecture: all
Depends: ${perl:Depends}, perl-modules, apt (>=0.5.1), less, libterm-readline-gnu-perl
Suggests: binutils
Conflicts: swim
Description: Debian System Wide Information Manager
 DSWIM is a powerful informational tool for Debian's packaging system.  
 Designed with an integral approach it combines the functionality 
 found in several other programs and scripts.  This provides users with a 
 centralized approach to querying the installation, and allows programmers 
 the liberty of writing smaller and simpler code.  
 .
 Presently, the virtual -n options are not working with the new Debian archive
 hierarchy, so help information doesn't reflect them anymore.  Older versions
 of swim do support the previous archive hierarchy.  In the future, all -n 
 options may be handled directly through apt-cache information and apt cache 
 management rather than through huge databases.  The virtual filesystem will 
 still be managed by a database, and Contents.gz listings will also be 
 reinstated.
 .	
 The latest and greatest dswim can be retrieved from here: 
 .	
 deb http://prdownloads.sourceforge.net/avd ./
 .
